@font-face {
  font-family:"Exo Medium";
  src:url("../assets/fonts/Exo_Medium/Exo-Medium.eot?") format("eot"),
  url("../assets/fonts/Exo_Medium/Exo-Medium.woff") format("woff"),
  url("../assets/fonts/Exo_Medium/Exo-Medium.ttf") format("truetype"),
  url("../assets/fonts/Exo_Medium/Exo-Medium.svg#Exo-Medium") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"Exo Thin";
  src:url("../assets/fonts/exo/Exo-Thin.eot?") format("eot"),
  url("../assets/fonts/exo/Exo-Thin.woff") format("woff"),
  url("../assets/fonts/exo/Exo-Thin.ttf") format("truetype"),
  url("../assets/fonts/exo/Exo-Thin.svg#Exo-Medium") format("svg");
  font-weight:normal;
  font-style:normal;
}